* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin:0;
    display: flex;
    background-color: #f0f4f8;
}
.container{
    height: 100%;
    width: 100%;
}
.notificationPane{
    height: 100vh;
    display: none;
    flex-direction: column;
    width: 25rem;
    background-color: #e2e8f0;
}
.notificationPaneHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e8f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.notificationPaneClose .icon{
    margin: 1rem;
    margin-top: 1.5rem;
}
.notificationPaneHeading h1{
    margin-left: 1rem;
    color: #2d3748;
}
.notification{
    background: #ebf8ff;
    padding: 1rem;
    border: solid #90cdf4;
    color: #2c5282;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a5568;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.icon{
    height: 2rem;
}
.navBarHeading{
    margin-left: 1rem;
    display: flex;
    align-items: center;
}
.navBarHeading h1{
    margin-left: 1rem;
    color: #e2e8f0;
}
.navBarIcons{
    display: flex;
    align-items: center;
    margin: 0 1rem;
}
.navBarIcon{
    display: flex;
    align-items: center;
    height: 85.38px;
    margin: 0 0.1rem;
    width: 4rem;
    justify-content: center;
}
.clickable {
    cursor: pointer;
}
.navBarIcon:hover {
    background-color: #2d3748;
    border-radius: 5px;
}
.navBarHeading:hover{
    background-color: #2d3748;
    border-radius: 5px;
}
.overview{
    border: solid #a0aec0;
    border-radius: 1rem;
    margin: 1rem;
    height: 20rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}
.overview .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 23rem;
}
.overview .icon img{
    height: 16rem;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    z-index: 100;
    position: absolute;
    background-color: #f0f4f8;
}
.loading img{
    height: 10rem;
}

*::-webkit-scrollbar {
    display: none;
}
.statusIcons{
    display: flex;
    align-items: center;
}
.statusIcons img {
    height: 2rem;
}
.battery{
    display: flex;
    align-items: center;
    margin: 1.5rem;
}
.infoRow{
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoRow div{
    text-align: center;
    width: 10rem;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.actions{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.actionButton{
    background-color: #4a5568;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 300ms;
}
.actionButton:hover{
    background-color: #2d3748;
}
.suggestion{
    margin: 1rem;
    height: 19rem;
    display: none;
    justify-content: center;
    align-items: center;
}